img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgcontainer {
    position: relative;
    width: 400px;
    height: 400px;
    float: left;
    position: relative;
    background-color: red;
    overflow: hidden;
}

.container {
    float: right;
}

.carousel {
    text-align: center;
    heigth: 100px;
    width: 100%;
    background-color: grey;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-item h2 {
    font-size: 48px;
}

.carousel-item p {
    font-size: 36px;
}

#navigationbar {
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbarlink {
    font-size: 45px;
    margin: auto;
}

#main {
    width: 65%;
    align-self: center;
    margin: auto;
}

.list-of-news {
    list-style: none;
}

.linkcolumn {
    margin: auto;
}

table {
    width: 100%;
}

.logocontainer {
    width: 150px;
}