img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgcontainer {
    position: relative;
    width: 400px;
    height: 400px;
    float: left;
    position: relative;
    background-color: red;
    overflow: hidden;
}

.container {
    float: right;
}

.carousel {
    text-align: center;
    heigth: 100px;
    width: 100%;
    background-color: grey;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-item h2 {
    font-size: 48px;
}

.carousel-item p {
    font-size: 36px;
}

#navigationbar {
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbarlink {
    font-size: 45px;
    margin: auto;
}

#main {
    width: 75%;
    min-height: 100%;
    align-self: center;
    margin: auto;
    background-color: white;
}

.list-of-news {
    list-style: none;
}

.linkcolumn {
    margin: auto;
}

table {
    width: 100%;
}

.logocontainer {
    width: 150px;
}

#titleinput {
    width: 95%;
}

#imgurl {
    width: 95%;
}

#content {
    width: 95%;
    height: 500px;
}

#root {
    min-height: 100%;
}

a {
    color: black;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.editbutton {
    background-color: red;
    color: black;
}

ul {
    justify-content: space-evenly;
    width: 100%;
}

.deletebutton {
    color: black;
    background-color: red;
    width: 100px;
    height: 100px;
    float: right;
}

.articlecontainer_hashincase {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.articlecontainer_hashincase *{
    align-self: center;
    text-align: center;
    margin-bottom: 0.3em;
}

.tid_og_kategori {
    display: flex;
    max-width: 60em;
    min-width: 20em;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.articlecontainer_hashincase img{
    max-height: 30em;
    margin-bottom: 1em;
    width: auto;
}

.content_text {
    font-size: 24px;
}

#footer {
    width: 100%;
    height: 250px;
    margin-bottom: -50px;
    margin-top: 50px;
}